
@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: 800;
}

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
}


.main__container {
    width: 90%;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    
    border-radius: 2rem 2rem 8rem 2rem;
    background-color: var(--white);
}

.main__container .container__inputs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
    padding: 0 12px;
    color: var(--Smokey-grey);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

    .container__inputs .input--change {
        width: 75px;
    }
    .container__inputs input {
        width: 75px;
        height: 40px;
        border-radius: 1rem;
        border: 0.1rem solid var(--Light-grey);
        padding: 12px;
        font-weight: bold;
        font-size: 1.6rem;
    }

    .main__container .container__button {
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 3.2rem;
    }

        .container__button #calculate {
            position: absolute;
            display: flex;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--purple);
            align-items: center;
            justify-content: center;
        }

            

            #calculate img {
                width: 24px;
                height: 18px;
                object-fit: cover;
            }

        .container__button span {
            height: 1px;
            width: 85%;
            background-color: var(--Light-grey);
        }

        .main__container .container__results {
            height: auto;
            width: 85%;
            display: flex;
            flex-flow: column nowrap;
            font-style: italic;
            padding: 8px 14px;
            
        }

            .container__results span {
                color: var(--purple);
            }

            .container__results h2 {
                font-style: italic;
                font-size: 4rem;
                font-weight: 800;
            }

            .container__results h3 {
                font-size: 4rem;
                font-weight: 800;
            }

            .container__results h4 {
                font-size: 4rem;
                font-weight: 800;
            }


 